<%! from django.utils.translation import ugettext as _ %>
<%! from django.template import RequestContext %>
<%! from third_party_auth import pipeline %>

<%!
  from django.core.urlresolvers import reverse
  import waffle
%>

<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Labs")}</%block>
<%block name="bodyclass">view-dashboard is-authenticated</%block>
<%block name="nav_skip">#my-courses</%block>

<%block name="headextra">
<link rel="stylesheet" href="${static.url('labster/css/backoffice.css')}">
</%block>

<%block name="js_extra">
<%
  user_type = user.profile.get_user_type_display() if user.profile.user_type else ''
  user_type_id = user.profile.user_type
%>
<script>
window.stripeKey = "${stripe_publishable_key}";  // publishable
window.requestUser = {
  id: "${user.id}",
  email: "${user.email}",
  name: "${user.profile.name}",
  token: "${user.profile.token_key}",
  user_type: {
    label: "${user_type}",
    id: "${user_type_id}"
  },
  backoffice: {
    user: {
      id: "${backoffice['user_id']}",
      country: "${backoffice['user_country']}",
      edu_level: "${backoffice['user_edu_level']}"
    },
    token: "${token}"
  }
};
window.backofficeUrls = {
  duplicateLabs: "${backoffice_urls['duplicate_labs']}",
  buyLab: "${backoffice_urls['buy_lab']}",
  payment: "${backoffice_urls['payment']}",
  product_group: "${backoffice_urls['product_group']}",
  product: "${backoffice_urls['product']}",
  license: "${backoffice_urls['license']}",
  country: "${backoffice_urls['country']}",
  get_renew_license_bill: "${backoffice_urls['renew_license_bill']}"
};
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-resource.min.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="${static.url('labster/student_voucher_code/js/app.js')}"></script>
<script src="${static.url('labster/student_voucher_code/js/directives.js')}"></script>
<!-- controllers -->
<script src="${static.url('labster/student_voucher_code/controllers/home.js')}"></script>
<script src="${static.url('labster/student_voucher_code/controllers/new.license.js')}"></script>
<!-- services -->
</%block>

<section class="container dashboard labster-bo" id="dashboard-main" aria-hidden="false" ng-app="StudentVoucherCode">
  <section class="profile-sidebar">
    <a href="/" class="sidebar-button">Back to Dashboard</a>
    <header class="profile">
      <h1 class="user-name">License Management</h1>
    </header>
    <section class="user-info">
      <ul>
        <li>
          <span class="title"><a href="#/">Home</a></span>
        </li>
      </ul>
    </section>
  </section>
  <section class="my-courses" id="my-courses" ng-view>Loading &hellip;</section>
</section>
