<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>


<%block name="pagetitle">${_("{course_number} Progress").format(course_number=course.display_number_with_default) | h}</%block>
<%block name="nav_skip">#course-info-progress</%block>

<%!
    from django.core.urlresolvers import reverse
%>

<%!
from util.date_utils import get_time_display
from django.conf import settings
%>


<%include file="/dashboard/_dashboard_prompt_midcourse_reverify.html" />

<%include file="/courseware/labster_course_navigation.html" args="active_page='progress'" />

<div class="container">
  <div class="profile-wrapper">

    <div class="course-info" id="course-info-progress" aria-label="${_('Course Progress')}">
      % if staff_access and studio_url is not None:
        <div class="wrap-instructor-info">
          <a class="instructor-info-action studio-view" href="${studio_url}">${_("View Grading in studio")}</a>
        </div>
      % endif

      <header>
        <h1>${_("Result for all Students")}</h1>
      </header>

     <div class="progress-all-students">
       <table class="progress-all-table">
          <tr>
             <th>Name</th>
             <th>Email</th>
             <th>Score</th>
             <th>Progress</th>
          </tr>
     %for item in students_context:
      <tr>
          <td>${item['user'].profile.name}</td>
          <td>${item['user'].email}</td>
          <td>${item['score']}
            (<a href="${item['detail_url']}"><small>detail</small></a>)
          </td>
          <td>
            <progress max="100" value="${item['progress_in_percent']}" style="width:100%"></progress>
            ${item['progress_in_percent']}
          </td>
      </tr>
      %endfor
      </table>
     </div>
    </div>
  </div>
</div>
