<%! from django.utils.translation import ugettext as _ %>
<% import json  %>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>

<%block name="pagetitle">${_("{course_number} Progress").format(course_number=course.display_number_with_default) | h}</%block>
<%block name="nav_skip">#course-info-progress</%block>

<%include file="/courseware/labster_course_navigation.html" args="active_page='instructor'" />

<div class="container">
  <div class="profile-wrapper">
    <div class="course-info" id="course-info-progress" aria-label="${_('Course Progress')}">
      <header>
        <h1>Student quiz detail for student: ${student}</h1>
      </header>

      <div class="progress-all-students">
        <h3>The 3 top most difficult questions:</h3> <br/>
        <table class="progress-all-table">
          <tr>            
            <th>Problem</th>
            <th>Time Spent</th>
            <th>Score</th>
            <th>Attempt count</th>
          </tr>
          %for problem in difficult_problems:
            <tr>
              <td>${problem['problem']}</td>
              <td>${problem['time_spent']}</td>
              <td>${problem['score']}</td>
              <td>${problem['attempts']}</td>
            </tr>
          %endfor
        </table>
        <br/><br/> <br/>

        <h3>Detail report:</h3><br/>
        <table class="progress-all-table">
          <tr>            
            <th>Problem</th>
            <th>Time Spent</th>
            <th>Score</th>
            <th>Attempt count</th>
          </tr>
          %for problem in problems:          
            <tr>
              <td>${problem['problem']}</td>
              <td>${problem['time_spent']}</td>
              <td>${problem['score']}</td>
              <td>${problem['attempts']}</td>
            </tr>
          %endfor
          <tr>
              <td>Total : </td>
              <td>${total_time_spent}</td>
              <td>${total_score}</td>
              <td>${total_attempts}</td>
              <td></td>
            </tr>
        </table>
      </div>

      %if user_attempt:
      <div class="progress-all-students" style="margin-top:36px">      
        <table class="progress-all-table">
          <tr>
            <th>Lab</th>
            <th>Attempt count</th>
          </tr>
          %for each in user_attempts:
          <tr>
            <td>${each.lab_proxy.lab.name}</td>
            <td>${each.get_total_play_count()}</td>
          </tr>
          %endfor
        </table>
      </div>  <!-- progress-all-students -->
      %endif

    </div> <!-- course-info -->
  </div> <!-- profile-wrapper -->
</div> <!-- container -->
