<%! from django.utils.translation import ugettext as _ %>
<% import json  %>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>

<%block name="pagetitle">${_("{course_number} Progress").format(course_number=course.display_number_with_default) | h}</%block>
<%block name="nav_skip">#course-info-progress</%block>

<%include file="/courseware/course_navigation.html" args="active_page='instructor'" />

<div class="container">
  <div class="profile-wrapper">
    <div class="course-info" id="course-info-progress" aria-label="${_('Course Progress')}">
      <header>
        <h1>Student quiz detail for student: ${student}</h1>
      </header>

      <div class="progress-all-students">
        <h3>The 3 top most difficult questions:</h3>
        <table class="progress-all-table">
          <tr>
            <th>Problem</th>
            <th>Score</th>
            <th>Attempt count</th>
          </tr>
          %for problem in difficult_problems:
            <tr>
              %for value in problem:
                  <td>${problem[value]}</td>
              %endfor
            </tr>
          %endfor
        </table>
        <br/><br/> <br/>
        <table class="progress-all-table">
          <tr>
            <th>Problem</th>
            <th>Score</th>
            <th>Attempt count</th>
          </tr>
          %for problem in problems:
            <tr>
              %for value in problem:
                  <td>${problem[value]}</td>
              %endfor
            </tr>
          %endfor
          <tr>
              <td>Total score:</td>
              <td>${total_score}</td>
              <td></td>
            </tr>
        </table>
      </div>  <!-- progress-all-students -->
    </div> <!-- course-info -->
  </div> <!-- profile-wrapper -->
</div> <!-- container -->
