<%! from django.utils.translation import ugettext as _ %>
<% import json  %>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>

<%block name="pagetitle">${_("{course_number} Progress").format(course_number=course.display_number_with_default) | h}</%block>
<%block name="nav_skip">#course-info-progress</%block>

<%include file="/courseware/labster_course_navigation.html" args="active_page='instructor'" />

<style>
.lab-result-wrapper {
  padding: 30px 40px;
}
.lab-result-wrapper table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin: 0 0 40px 0;
}
.lab-result-wrapper table th {
  background-color: #eee;
}
.lab-result-wrapper table th,
.lab-result-wrapper table td {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 10px;
}
/*
.lab-result-wrapper table tr.correct td {
  background-color: #c3dcbf;
}
*/
.lab-result-wrapper h3.score {
  margin: 0 0 10px 0;
  text-align: right;
  font-size: 30px;
}
.lab-result-wrapper h3.score span {
  display: inline-block;
  background-color: #c3dcbf;
  padding: 5px 10px;
}
</style>


<div class="container">
  <div class="profile-wrapper">
    <div class="course-info lab-result-wrapper" id="course-info-progress" aria-label="${_('Result Detail')}">

      <a href="${progress_all_url}">View all students</a>

    % for attempt in attempts:
    % if attempt.answers:
    <h3 class="score">Score
      % if hasattr(attempt, 'custom_score'):
        <span>${attempt.custom_score}%</span></h3>
      % else:
        <span>${attempt.get_score()}</span></h3>
      % endif
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Question</th>
          <th>Answer</th>
          <th>Correct Answer</th>
          % if hasattr(attempt, 'custom_score'):
          <th>Is Correct?</th>
          % endif
        </tr>
      </thead>
      <tbody>
        % for answer in attempt.answers:
        <tr class="${'correct' if answer.is_correct else ''}">
          <td>${(loop.index + 1)}</td>
          <td>${answer.question}</td>
          <td>${answer.answer_string}</td>
          <td>${answer.correct_answer}</td>
          % if hasattr(attempt, 'custom_score'):
          <td>${'yes' if answer.is_correct else 'no'}</td>
          % endif
        </tr>
        % endfor
      </tbody>
    </table>
    % endif
    % endfor


    </div> <!-- course-info -->
  </div> <!-- profile-wrapper -->
</div> <!-- container -->
