<header>
  <h2>Licenses</h2>
</header>
<div class="labster-lab-list">
  <div class="selected-item">
    <h3>Active Licenses</h3>
    <a type="button" class="btn-labster pull-right btn-labster-renew-license" ng-click="renew_license()" >Renew selected licenses</a>
    {{selection_count}} selected of {{licenses.length}} Licenses
  </div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Lab</th>
        <th>Purchase Date</th>
        <th>Expiration Date</th>
        <th>Subscription</th>
        <th class="align-right">Licenses</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="(licenses | filter: {product_type:'univ'}).length > 0" class="edu-level-invoice">
        <td></td>
        <td colspan="2"><strong>University & College Labs</strong></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="license in licenses | filter: {product_type:'univ'}">
        <td>
            <input id="{{license.id}}" type="checkbox" ng-checked="selection.indexOf(license.id) > -1" ng-click="toggleSelection(license.id)" />
        </td>
        <td class="lab-description">{{ license.product_name }}
            <div ng-show="license.list_products.length > 0">
              Lab included in this package:
              <ul class="table-cell">
                <li ng-repeat="lab in license.list_products">{{ lab }}</li>
              </ul>
            </div>
        </td>
        <td>{{ license.date_bought }}</td>
        <td>{{ license.end_date }}</td>
        <td>{{ license.month_subscription }} months</td>
        <td class="align-right">{{ license.item_count }}</td>
      </tr>
      <tr ng-show=" (licenses | filter: {product_type:'hs'}).length > 0" class="edu-level-invoice">
        <td></td>
        <td colspan="2"><strong>High School</strong></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="license in licenses | filter: {product_type:'hs'}">
        <td>
            <input id="{{license.id}}" type="checkbox" ng-checked="selection.indexOf(license.id) > -1" ng-click="toggleSelection(license.id)" />
        </td>
        <td class="lab-description">{{ license.product_name }}
            <div ng-show="license.list_products.length > 0">
              Lab included in this package:
              <ul class="table-cell">
                <li ng-repeat="lab in license.list_products">{{ lab }}</li>
              </ul>
            </div>
        </td>
        <td>{{ license.date_bought }}</td>
        <td>{{ license.end_date }}</td>
        <td>{{ license.month_subscription }} months</td>
        <td class="align-right">{{ license.item_count }}</td>
      </tr>
    </tbody>
  </table>

  <div class="labster-lab-list padding-top40" ng-show="payments.length > 0">
    <h3>Unpaid Invoices</h3>
    <table>
      <thead>
        <tr>
          <th>Invoice No.</th>
          <th class="align-center">Purchase Date</th>
          <th>Labs</th>
          <th class="align-right">Total Price</th>
          <th class="align-right">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="payment in payments">
          <td><a href="{{ payment.detail_url }}">{{ payment.invoice_number }}</a></td>
          <td class="align-center">{{ payment.created_date }}</td>
          <td>
            <div ng-repeat="payment_product in payment.payment_products">
              {{ payment_product.product_name }}
            </div>
          </td>
          <td class="align-right">USD {{ payment.total }}</td>
          <td class="align-right">
            <span ng-show="payment.paid">paid</span>
            <span ng-hide="payment.paid">unpaid</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
