<header>
  <h2>Buy New Licenses</h2>
</header>
<div class="labster-select-lab">
  <h3>
    Select Labs
  <small>
    <a href="" ng-click="selectAll()">all</a>
    <a href="" ng-click="deselectAll()">none</a>
  </small>
  </h3>
  <a class="lab-item" ng-repeat="lab in labs" ng-hide="lab.selected" href="" ng-click="select(lab)">{{ lab.name }}</a>
</div>
<hr>
<div class="labster-new-lab">
  <!--
  <div>
    <label>
      <span class="label">Name</span>
      <input type="text" ng-model="user.name">
    </label>
  </div>
  <div>
    <label>
      <span class="label">Email</span>
      <input type="text" ng-model="user.email">
    </label>
  </div>
  -->
  <table ng-show="showLabForm">
    <thead>
      <tr>
        <th>Lab</th>
        <th>Price</th>
        <th>Licenses</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="lab in labs" ng-show="lab.selected">
        <td>{{ lab.name }}</td>
        <td class="align-right">${{ lab.price }}</td>
        <td class="lab-license">
          <input ng-disabled="isProcessing" class="align-right" size="5" maxlength="5" type="text" ng-model="lab.license" ng-change="updateTotal()">
        </td>
        <td class="align-right">${{ lab.total }}</td>
        <td>
          <a href="" ng-click="deselect(lab)">x</a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td class="align-right">${{ totalPrice }}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  <div ng-show="totalPrice > 0">
    <button ng-disabled="isProcessing" ng-hide="isProcessing" type="button" class="button" ng-click="buyLabs()">Submit</button>
    <span ng-show="isProcessing">Processing &hellip;</span>
  </div>
</div>
