<div class="labster-lab-list">
  <h2>Checkout</h2>
  <table class="table-vat">
    <tbody>
      <tr class="edu-level">
        <td colspan="2"><strong>Buyer Details</strong></td>
      </tr>
      <tr>
        <td>Country</td>
        <td>
          <select class="form-control" ng-change="checkVat()" ng-model="country"
          ng-options="country.name for country in countries"></select>
        </td>
      </tr>
      <tr>
        <td class="vertical-align-baseline">Institution type</td>
        <td>
          <label>
            <input type="radio" ng-model="institution_type" ng-change="checkVat()" value="1"> Personal <br/>
          </label>
          <label>
            <input type="radio" ng-model="institution_type" ng-change="checkVat()" value="2"> Private School <br/>
          </label>
          <label>
            <input type="radio" ng-model="institution_type" ng-change="checkVat()" value="3"> Public School <br/>
          </label>
        </td>
      </tr>
      <tr class="edu-level">
        <td colspan="2"><strong>Billing Information</strong></td>
      </tr>
      <tr ng-hide="institution_type == 1">
        <td>Institution Name</td>
        <td>
          <input type="text" class="form-control" ng-model="institution_name">
          <i style="color:red;">{{ institution_error }}</i>
        </td>
      </tr>
      <tr ng-hide="institution_type == 1">
        <td>VAT Number</td>
        <td>
          <input type="text" class="form-control" ng-model="institution_vat_number" >
          <i style="color:red;">{{ vat_error }}</i>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Subtotal</td>
        <td class="align-right">{{ subTotalPrice|currency:"$" }}</td>
      </tr>
      <tr>
        <td>Tax</td>
        <td class="align-right">{{ tax|currency:"$" }}</td>
      </tr>
      <tr>
        <td>Total Price</td>
        <td class="align-right">{{ totalPrice|currency:"$" }}</td>
      </tr>
    </tfoot>
  </table>

  <div>
    <h2>Choose payment method below:</h2>
    <table class="table-no-border table-method">
      <tr>
        <td>
          <div ng-show="totalPrice >= 500">
            <a class="btn-labster-regular btn-labster-cc labster-disabled-btn"><i class='fa fa-credit-card'></i> Credit Card</a>
          </div>
          <div ng-show="totalPrice < 500">
            <a ng-show="!loading_cc" ng-click="buyLabs('stripe')" class="btn-labster-cc btn-labster-regular"><i class='fa fa-credit-card'></i> Credit Card</a>
            <a ng-show="loading_cc" class="btn-labster-regular "><i class='fa fa-refresh fa-spin'></i> Processing</a>
          </div>
        </td>
        <td>
          <a ng-show="!loading_man" ng-click="buyLabs('manual')" class="btn-labster-regular btn-labster-manual"><i class='fa fa-exchange'></i> Wire Transfer</a>
          <a ng-show="loading_man" class="btn-labster-regular"><i class='fa fa-refresh fa-spin'></i> Processing</a>
        </td>
      </tr>
      <tr>
        <td>
          <div ng-show="totalPrice >= 500">
            <p>
              <small><i>Credit Card can only be used for transactions up to 500 USD. <br/> Please use Wire Transfer instead for larger transactions.</i></small>
            </p>
          </div>
        </td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
