<header>
  <h2>Invoice #{{ payment.invoice_number }}</h2>
</header>
<div class="labster-lab-list">
  <p>
    Status:
    <strong ng-hide="payment.paid">unpaid</strong>
    <strong ng-show="payment.paid">paid</strong>
  </p>
  <p>Date: {{ payment.created_date }}</p>
  <table>
    <thead>
      <tr>
        <th>Lab</th>
        <th class="align-right">Price</th>
        <th class="align-right">Licenses</th>
        <th class="align-right">Subscriptions</th>
        <th class="align-right">Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show=" (payment.payment_products | filter: { product_type: 'univ'}).length > 0" class="edu-level-invoice">
        <td colspan="2"><strong>University & College Labs</strong></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="payment_product in payment.payment_products | filter: { product_type: 'univ'}">
        <td class="lab-description">{{ payment_product.product_name }}</td>
        <td class="align-right">{{ payment_product.price|currency:"USD " }}</td>
        <td class="align-right">{{ payment_product.item_count }}</td>
        <td class="align-right">{{ payment_product.month_subscription }} months</td>
        <td class="align-right">{{ payment_product.total|currency:"USD " }}</td>
      </tr>
      <tr ng-show=" (payment.payment_products | filter: { product_type: 'hs'}).length > 0" class="edu-level-invoice">
        <td colspan="2"><strong>High School</strong></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="payment_product in payment.payment_products | filter: { product_type: 'hs'}">
        <td class="lab-description">{{ payment_product.product_name }}</td>
        <td class="align-right">{{ payment_product.price|currency:"USD " }}</td>
        <td class="align-right">{{ payment_product.item_count }}</td>
        <td class="align-right">{{ payment_product.month_subscription }} months</td>
        <td class="align-right">{{ payment_product.total|currency:"USD " }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Subtotal</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="align-right">{{ payment.total_before_tax|currency:"USD " }}</td>
      </tr>
      <tr>
        <td>VAT</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="align-right">
          {{ payment.total_tax|currency:"USD " }} <br/>
          <i ng-show="payment.is_reverse_charges">Reverse charges is applied on this payment</i>
        </td>
      </tr>
      <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="align-right">{{ payment.total|currency:"USD " }}</td>
      </tr>
    </tfoot>
  </table>
  <p>
    Your order has now been registered, and you will receive an email with the invoice attached shortly. Your licenses have also now been activated, and you can already now invite students to your course.
  </p>
  <p>
    Please note, that if we have not received the payment within 14 days, the licenses will be disabled again.
  </p>

  <table class="table-no-border">
    <tbody>
      <tr ng-show="payment.payment_type == 'stripe'">
        <td>
          <stripe payment-id="{{ payment.id }}" email="{{ user.email }}" amount="{{ payment.total }}" description="{{ payment_description(payment.payment_products, payment.total) }}"></stripe>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="slide" ng-show="payment.payment_type == 'manual'">
    <h2 class="no-text-transform"><strong>Wire Transfer Payment Instruction:</strong></h2>
    <p>
      You may use the wire transfer information below, to transfer the amount to our bank account. <br/>
      We will then daily check for the incoming wire transfer, which usually take 5-7 business day for international transfer.
    </p>
    <table class="table-invoice">
      <tbody>
        <tr><td>Bank name</td><td>Danske Bank</td></tr>
        <tr><td>IBAN</td><td>DK0530000011397980</td></tr>
        <tr><td>SWIFT/BIC</td><td>DABADKKK</td></tr>
        <tr><td>Account No</td><td>0011397980</td></tr>
        <tr><td>Registration No</td><td>4180</td></tr>
        <tr><td>Beneficiary name</td><td>Labster ApS, Njalsgade 19D, 2300 Copenhagen S, Denmark</td></tr>
        <tr><td>Message</td><td>Invoice #{{ payment.invoice_number }} <i>(please include invoice number this for us to identify your transaction)</i></td></tr>
        <tr><td>VAT/CVR</td><td>DK34457808</td></tr>
      </tbody>
    </table>
  </div>

  <div class="clear"></div>
  <div style="display:none;">
    <h1 class="align-left">Get Invoice Email</h1>
    <p>If you wish you get an invoice to your email, please click <a class="cursor-pointer" ng-click="get_invoice()">here</a>.</p>
  </div>
</div>

<script type="text/ng-template" id="invoice_information">
    <h2 class="align-center">Credit card payment is disabled for this payment</h2>
    <hr>
    <p>Credit Card can only be used for transactions up to 500 USD.
Please use Wire Transfer instead for larger transactions.</p>
</script>
