<base href="/labs/">
<header>
  <h2>Invoices</h2>
</header>
<div class="labster-lab-list" ng-show="payments.length > 0">
  <table>
    <thead>
      <tr>
        <th>Invoice No.</th>
        <th class="align-center">Purchase Date</th>
        <th>Labs</th>
        <th class="align-right">Total Price</th>
        <th class="align-right">Status</th>
        <th class="align-right">Cancel</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="payment in payments">
        <td><a href="{{ payment.detail_url }}">{{ payment.invoice_number }}</a></td>
        <td class="align-center">{{ payment.created_date }}</td>
        <td>
          <div ng-repeat="payment_product in payment.payment_products">
            {{ payment_product.product_name }}
          </div>
        </td>
        <td class="align-right">USD {{ payment.total }}</td>
        <td class="align-right">
          <span ng-show="payment.paid">paid</span>
          <span ng-hide="payment.paid">unpaid</span>
        </td>
        <td class="align-right">
          <a ng-hide="payment.paid" href="invoice/{{ payment.id }}/cancel-order">Cancel</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
