{% extends "wiki/base.html" %}
{% load wiki_tags i18n %}
{% load url from future %}

{% block pagetitle %}{{ article.current_revision.title }}{% endblock %}

{% block wiki_breadcrumbs %}
{% include "wiki/includes/breadcrumbs.html" %}
{% endblock %}
{% block nav_skip %}#main-article{% endblock %}

{% block wiki_contents %}

  <div class="article-wrapper">

    <article class="main-article" id="main-article">
        {% if selected_tab != "edit" %}
          <h1>{{ article.current_revision.title }}</h1>

        {% endif %}

        {% block wiki_contents_tab %}
        {% wiki_render article %}
        {% endblock %}
    </article>

    <div class="article-functions">
      <ul class="nav nav-tabs">
        {% include "wiki/includes/article_menu.html" %}
      </ul>
      <div class="timestamp">
        <span class="label">{% trans "Last modified:" %}</span><br />
        <span class="date">{{ article.current_revision.modified }}</span>
      </div>

      {% if urlpath %}
      <div class="see-children">
        <a href="{% url 'wiki:dir' path=urlpath.path %}">{% trans "See all children" %}</a>
      </div>
      {% endif %}
    </div>
  </div>



{% endblock %}

{% block footer_prepend %}
  <p><em>{% trans "This article was last modified:" %} {{ article.current_revision.modified }}</em></p>
{% endblock %}

{% block jsextra %}
<script>
(function($) {
  $.fn.coursify = function(course_id) {
    return this.each(function() {
      var el = $(this);
      var href = el.attr('href');
      href = "/courses/" + course_id + href;
      el.attr('href', href);
    });
  };

  $.fn.prevlink = function() {
    return this.each(function() {
      var el = $(this);
      el.css({
        float: 'left',
        display: 'block',
        width: '50%'
      });

      var content = el.html();
      content = '&#8592; Previous (' + content + ')';
      el.empty().append(content);
    });
  };

  $.fn.nextlink = function() {
    return this.each(function() {
      var el = $(this);
      el.css({
        float: 'right',
        display: 'block',
        width: '50%',
        'text-align': 'right'
      });

      el.parent().next().css({
        clear: 'both',
        'padding-top': '16px'
      });

      var content = el.html();
      content = 'Next (' + content + ') &#8594;';
      el.empty().append(content);
    });
  };

  $.fn.backlink = function() {
    return this.each(function() {
      var el = $(this);

      var content = el.html();
      content = '&#8656; Back (' + content + ')';
      el.empty().append(content);
    });
  };


}(jQuery));

$(function() {
  var course_id = "{{ course_id|default:"" }}";
  if (course_id) {
    $('.wikipath').coursify(course_id);
  }
  $('.wikiprevpath').prevlink();
  $('.wikinextpath').nextlink();
  $('.wikibackpath').backlink();
});
</script>
{% endblock %}
