<p>New teacher has signed up from edX registration form, this is the details:</p>

<table>
  <tbody>
    <tr>
      <td style="width: 200px;">Name:</td>
      <td>{{ labster_user.name }}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
    <tr>
      <td>Phone Number:</td>
      <td>{{ labster_user.phone_number }}</td>
    </tr>
      <td>School / Organization:</td>
      <td>{{ labster_user.organization_name }}</td>
    </tr>
    <tr>
      <td>Occupation:</td>
      <td>{{ user_school_level }}</td>
    </tr>
  </tbody>
</table>
