<%! from django.utils.translation import ugettext as _ %>
<%! from microsite_configuration import microsite %>

<%inherit file="main.html" />

<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>

<%! from django.core.urlresolvers import reverse %>
<%! from django.utils import html %>
<%! from django.utils.translation import ugettext as _ %>
<%! from student.models import UserProfile %>
<%! from datetime import date %>
<%! from third_party_auth import pipeline, provider %>
<%! import calendar %>

<%block name="pagetitle">${_("Register for {platform_name}").format(platform_name=platform_name)}</%block>

<%block name="bodyclass">view-register</%block>

<%block name="js_extra">
<script type="text/javascript">

</script>
</%block>

<section class="introduction">
    <header>
        <h1 class="title">
            <span class="title-super">${_("Welcome!")}</span>
            <span class="title-sub">${_("Buy Lab").format(platform_name=platform_name)}</span>
        </h1>
    </header>
</section>

<section class="register container">
    <section role="main" class="content">
        
    </section>
</section>
