<%! from django_countries import countries %>
<%
DEFAULT_LANGUAGE = 'en'
LANGUAGES = [
  ('dk', "Danish"),
  ('en', "English"),
]
%>
% if errors:
  <div>${errors}</div>
% else:

  <style>
    #course-content {
      background-image: url('https://labsterim.s3.amazonaws.com/media/uploads/labster/labster2_small.png');
      background-position: bottom -100px right -90px;
      background-repeat: no-repeat;
      padding-right: 270px;
    }
    #missingUnityContainer h2,
    #missingUnityContainer h3,
    #missingUnityContainer h4,
    #missingUnityContainer p,
    #labModuleContainer h2,
    #labModuleContainer p {
      margin-bottom: 16px;
    }
    #unityPlayerContainer, #externalContent {
      background-color: #000;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 100;
    }
    #externalContent {
      z-index: 300;
    }
    #externalContent iframe {
      width: 100%;
      height: 100%;
    }
    #unityPlayerContainer .exit-lab,
    #externalContent .exit {
      background-color: #1D354D;
      border-radius: 3px;
      border: 1px solid #fff;
      color: #fff;
      left: 50%;
      padding: 10px 0;
      text-align: center;
      position: fixed;
      top: -1px;
      z-index: 200;
      width: 90px;
      margin-left: -45px;
      border-top: none;
    }
    #unityPlayer {
      width: 100%;
      height: 100%;
    }
    #unityPlayer .missing {
      width: inherit;
      height: inherit;
      text-align: center;
      line-height: 650px;
    }
    .download-chrome img {
      height: 24px;
      margin-top: -4px;
      margin-right: 5px;
      margin-left: -4px;
    }
    .labster-verified-form .input-group {
      margin-bottom: 10px;
    }
    .labster-verified-form .input-group.error input {
      border-color: red;
    }
    .labster-verified-form .input-group.error label {
      color: red;
    }
    .labster-verified-form .button-group {
      margin-top: 20px;
    }
  </style>
  <script src="https://s3-us-west-2.amazonaws.com/labster/static/js/jquery.browser.min.js"></script>
  <script type="text/javascript">
  <!--
  var unityObjectUrl = "http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js";
  if (document.location.protocol == 'https:')
      unityObjectUrl = unityObjectUrl.replace("http://", "https://ssl-");
  document.write('<script type="text/javascript" src="' + unityObjectUrl + '"></script>');
  -->
  </script>

  <!--
  <h4>${lab.name}</h4>
  <div>${lab.description}</div>

  <hr>
  <div>token: ${user_token.key}</div>
  <div>lab_id: ${lab_proxy.id}</div>
  <hr>
  <div>user_id: ${module.scope_ids.user_id}</div>
  <div>${module.location}</div>
  <div>${lab.name}</div>
  -->

  % if not labster_user.is_labster_verified:
  <div id="labsterVerifiedForm" class="labster-verified-form" style="display:none">
    <h2>Upgrade to Labster Verified Account - It's Free!</h2>
    <p>In order to access this virtual laboratory with scientific measurement of learning, you will need an extended verification of your Labster account for professional use.</p>
    <p>When completed, we create a Unique Labster ID for you, that will not change even if you change your e-mail, address or move to a different university or country. This is to ensure that you at all time in the future will get full credit for all of your prior learning progress and experiences with Labster's new scientific line of learning solutions.</p>
    <p>Simply fill in the information below, to verify your account.</p>
    <form>
      <div class="input-group">
        <label>Nationality</label>
        <select name="nationality">
          <option value="">--</option>
          %for code, country_name in countries:
            %if labster_user.nationality == code:
            <option value="${code}" selected>${ unicode(country_name) }</option>
            %else:
            <option value="${code}">${ unicode(country_name) }</option>
            % endif
          %endfor
        </select>
      </div>
      <div class="input-group">
        <label>Language</label>
        <select name="language" value="${labster_user.language}">
          <option value="">--</option>
          % for code, label in LANGUAGES:
            % if code == DEFAULT_LANGUAGE:
            <option value="${code}" selected>${label}</option>
            % else:
            <option value="${code}">${label}</option>
            % endif
          % endfor
        </select>
      </div>
      <div class="input-group">
        <label>Unversity ID Number</label>
        <input type="text" name="unique_id" value="${labster_user.unique_id}">
      </div>
      <div class="input-group">
        <label>Date of Birth</label>
        % if labster_user.date_of_birth:
        <input type="text" class="datepicker" name="date_of_birth" value="${labster_user.date_of_birth}">
        % else:
        <input type="text" class="datepicker" name="date_of_birth" value="">
        % endif
      </div>
      <div class="button-group">
        <button class="button-labster-blue" type="submit">Save</button>
      </div>
    </form>
  </div>
  % endif
  <div class="loading" style="display:none">Loading &hellip;</div>
  <div id="missingUnityContainer" style="display:none">
    <h2>${lab.name}</h2>

    <div class="browser chrome ie opera" style="display:none">
      <h3>Please use Firefox or Safari</h3>
      <p>Currently Labster is best supported on Firefox and Safari browsers.</p>
      <p>It appears that you are currently using another browser, so we recommend that you launch e.g. Firefox to start using Labster.</p>
      <p>If you do not have Firefox installed, you can easily download and install it using the button below.</p>
      <p><em>Please notice, that this is only temporary, and Labster will be supported on all browsers within a few months.</em></p>
      <p style="display:none" class="firefox-download fx-windows">
      <a target="_blank" href="https://download.mozilla.org/?product=firefox-stub&os=win&lang=en-US" class="button-labster-blue download-chrome">
        <span><img src="https://labsterim.s3.amazonaws.com/media/uploads/edx/firefox.png"></span>
        Download Mozilla Firefox</a>
      </p>
      <p style="display:none" class="firefox-download fx-mac">
      <a target="_blank" href="https://www.mozilla.org/en-US/firefox/new/" class="button-labster-blue download-chrome">
        <span><img src="https://labsterim.s3.amazonaws.com/media/uploads/edx/firefox.png"></span>
        Download Mozilla Firefox</a>
      </p>
    </div>
    <div class="browser firefox safari" style="display:none">
      <h3>Using Labster For the First Time</h3>
      <p>This appears to be the first time you use Labster on this computer.
      To get started, you simply need to install the Unity3D web player, which only takes a few minutes.</p>      
      <p>Please click the button below to start the Unity3D player installation. After the installation is finished, close all open Mozilla Firefox browser windows and reopen Mozilla Firefox.</p>
      <div id="unityPlayerTest">
        <div class="missing">
          <a class="unity-download mac" style="display:none" href="http://webplayer.unity3d.com/download_webplayer-3.x/webplayer-mini.dmg" title="Unity Web Player. Install now!">
            <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
          </a>
          <a class="unity-download windows" style="display:none" href="http://webplayer.unity3d.com/download_webplayer-3.x/UnityWebPlayer.exe" title="Unity Web Player. Install now!">
            <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="labModuleContainer" style="display:none">
    <div class="lab-module-info">
      <h2>${lab.name}</h2>
      <p>In this section, you will be using one of the virtual Labster labs.</p>
      % if user_has_finished_lab:
        <p><i>You have finished this lab before.</i></p>
      % endif
      % if user_save:
      <p>It appears that you have already used this specific lab in the past, and we have automatically stored your progress in the lab, so you don't have to start all from the beginning.</p>
      <p>Please click the <strong>Continue from save game</strong> button below, if you would like to continue from the last position in the lab that was stored, or click <strong>Restart from beginning</strong> if you would like to play the whole lab from the start again.</p>
      % else:
      <p>Please click the button below, to begin the exercise and enter the virtual lab.</p>
      % endif
    </div>
    <div id="buttonContent">
      % if user_save:
      <a class="button button-labster-grey playLabButton" data-url="start_new_lab/?token=${user_token.key}" id="startNewButton" href="#">Restart from beginning</a>
      <a class="button button-labster-blue playLabButton" data-url="continue_lab/?token=${user_token.key}" id="continueButton" href="#">Continue from save game</a>
      % else:
      <a class="button button-labster-blue playLabButton" data-url="start_new_lab/?token=${user_token.key}" id="startNewButton" href="#">Enter the Lab</a>
      % endif
      % if user_attempt and user_attempt.is_completed:
      <a class="button button-labster-blue" href="${result_url}">Result</a>
      % endif
    </div>

    <div id="unityPlayerContainer" style="display:none">
      <a href="" class="exit-lab labster-blue-button">Exit Lab</a>
      <div id="unityPlayer">
        <div class="missing">
          <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
            <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
          </a>
        </div>
      </div>
    </div>

  </div>

  <div id="externalContent" style="display:none">
  </div>

  <script id="unityPlayerTemplate" type="text/template">
  </script>

  <!-- Segment.IO Start -->
  <script type="text/javascript">
    window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(a){return function(){var t=Array.prototype.slice.call(arguments);return t.unshift(a),window.analytics.push(t),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(a){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+a+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},window.analytics.SNIPPET_VERSION="2.0.6",
    window.analytics.load("wdk8zwr84j"),
    window.analytics.page();
  </script>
  <script type="text/javascript">
    function segmentIOIdentify(id, propertiesString)
    {
      var properties = convertStringToObjectArray(propertiesString);
      analytics.identify(id, properties);
    }
    function segmentIOPushEvent(category)
    {
      analytics.track(category);
    }
    function segmentIOPushEventWithProperties(category, propertiesString)
    {
      var dictionary = convertStringToObjectArray(propertiesString);
      analytics.track(category, dictionary);
    }

    function convertStringToObjectArray(objectString)
    {
      var d = {};

      a = objectString.replace("{","").replace("}","").split(",");
      for (i=0;i<a.length;i++)
        {
          pair = a[i];
          prop = pair.split("=");
          d[prop[0]] = prop[1];
        }

      return d;
    }
  </script>
  <!-- Segment.IO End -->

  <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/labster/static/pikaday/pikaday.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/labster/static/pikaday/pikaday.js"></script>
  <script>
    % if lab.verified_only:
    var isVerifiedLab = true;
    % else:
    var isVerifiedLab = false;
    % endif

    % if labster_user.is_labster_verified:
    var isVerifiedLabster = true;
    % else:
    var isVerifiedLabster = false;
    % endif

    function initVerifiedForm(callback) {
      var $ = jQuery,
        token = "${user_token.key}",
        csrf_token = "${csrf_token}",
        put_url = "/labster/api/users/${module.scope_ids.user_id}/",
        picker,
        form;

      $('#labsterVerifiedForm').show();

      picker = new Pikaday({
        field: $('.datepicker')[0],
        defaultDate: new Date(),
        yearRange: [1960, 2014],
        format: "YYYY-MM-DD"
      });

      form = $('.labster-verified-form form');
      form.submit(function(ev) {
        var post_data = {},
          form_data,
          inputs,
          is_valid = true;

        form.find('button[type=submit]').text('Saving').prop('disabled', true);
        form_data = form.serializeArray();
        $.each(form_data, function(index, item) {
          post_data[item.name] = item.value;
        });

        inputs = form.find('input[type=text], select');

        inputs.each(function(index, el) {
          var el = $(el);
          el.closest('.input-group').removeClass('error');
          if ( ! el.val()) {
            el.closest('.input-group').addClass('error');
            is_valid = false;
          }
        });

        if (is_valid) {
          $.ajax({
            url: put_url,
            type: "PUT",
            contentType: "application/json",
            dataType: "json",
            beforeSend: function(xhr, settings) {
              xhr.setRequestHeader("X-CSRFToken", csrf_token);
            },
            data: JSON.stringify(post_data)
          }).success(function(response) {
            $('#labsterVerifiedForm').hide();
            callback();
          }).error(function(response) {
          });
        } else {
          form.find('button[type=submit]').text('Save').prop('disabled', false);
        }

        return false;
      });
    }

    function detectUnityWebPlayer() {
      var tInstalled = false;
      if (navigator.mimeTypes && navigator.mimeTypes["application/vnd.unity"]){
        if (navigator.mimeTypes["application/vnd.unity"].enabledPlugin &&
            navigator.plugins && navigator.plugins["Unity Player"]) {
          tInstalled = true;
        }
      }
      return tInstalled;
    }

    function setPlayerSize() {
      var player = jQuery('#unityPlayer');
      var max_width = 1170;
      var max_height = 760;
      var browser_width = $(document).width();
      var browser_height = $(document).height();
      var unity_width = '100%';
      var unity_height = '100%';
      var margin_left = '86px';
      var margin_top = '37px';

      var diff_width = browser_width - max_width;
      var diff_height = browser_height - max_height;

      // width & height are larger than max
      if (diff_width > 0 && diff_height > 0) {
        unity_width = max_width;
        unity_height = max_height;

        margin_top = diff_height / 2;
        margin_left = diff_width / 2;

        unity_width = unity_width + 'px';
        unity_height = unity_height + 'px';
        margin_top = (37 + margin_top) + 'px';
        margin_left = (86 + margin_left) + 'px';

      }

      var styles = {
        'width': unity_width,
        'height': unity_height,
        'margin-left': margin_left,
        'margin-top': margin_top
      };

      player.css(styles);
    }


    var loaded = false;
    var hasUnity = detectUnityWebPlayer();
    var isPlaying = false;

    jQuery(function() {
      var browser = jQuery.browser;
      var platform = navigator.platform.toUpperCase();
      var userAgent = navigator.userAgent.toUpperCase();
      var isWindows = function(ua) {
        return ua.toUpperCase().indexOf('WINDOWS NT') > -1;
      };
      var isMac = function(ua) {
        return ua.toUpperCase().indexOf('MACINTOSH') > -1;
      };

      var resizeProc = undefined;
      jQuery(window).resize(function() {
        if (resizeProc != undefined) {
          clearTimeout(resizeProc);
        }

        resizeProc = setTimeout(function() {
          setPlayerSize();
        }, 500);
      });

      jQuery('.playLabButton').click(function(ev) {
        ev.preventDefault();
        var el = jQuery(ev.currentTarget);
        var url = el.data('url');

        jQuery.ajax({
          url: url,
          method: 'GET',
          success: function(response) {
          },
          error: function(response) {
          },
          complete: function(response) {
            jQuery('.loading').hide();
            jQuery('#unityPlayerContainer').show();
            jQuery('#labModuleContainer').show();
            setPlayerSize();
            playLab();
          }
        });
      });

      jQuery('#unityPlayerContainer .exit-lab').click(function(ev) {
        ev.preventDefault();
        location.reload();
      });

      if (browser.mozilla || browser.safari) {
        jQuery('.browser.firefox').show();
        jQuery('#course-content').css(
            'background-position', 'top -50px right -90px');

        if (isVerifiedLab && ! isVerifiedLabster) {
          initVerifiedForm(function() {
            if (hasUnity) {
              jQuery('#labModuleContainer').show();
              jQuery('.loading').hide();
            } else {
              jQuery('#missingUnityContainer').show();
              jQuery('.loading').hide();
            }
          });

        } else {
          if (hasUnity) {
            jQuery('#labModuleContainer').show();
            jQuery('.loading').hide();
          } else {
            jQuery('#missingUnityContainer').show();
            if (platform == 'MACINTEL') {
              jQuery('.unity-download.mac').show();
            } else {
              jQuery('.unity-download.windows').show();
            }
            jQuery('.loading').hide();
          }
        }
      } else {
        jQuery('.browser.ie').show();
        jQuery('#missingUnityContainer').show();
        if (isMac(userAgent)) {
          jQuery('.firefox-download.fx-mac').show();
        } else {
          jQuery('.firefox-download.fx-windows').show();
        }
      }

      window.onbeforeunload = function() {
        if (isPlaying) {
          return "You'll lose any unsaved progress.";
        } else {
          return null;
        }
      };
    });

    var u;
    var playLab = function() {
      if (! loaded) {
        var config = {
          params: {
            backgroundcolor: "000000"
          }
        };
        u = new UnityObject2(config);
        u.initPlugin(jQuery("#unityPlayer")[0], "${lab.engine_file_url}?token=${user_token.key}");
        loaded = true;
      }

      jQuery('#livechat-compact-container').hide();
      isPlaying = true;

      // jQuery('window').bind('resize', function(event) {
      //   setPlayerSize();
      // });
    };

    var stopLab = function() {
      jQuery('#unityPlayer').empty();
      jQuery('#livechat-compact-container').show();
      loaded = false;

      // jQuery('window').unbind('resize');
    };
  </script>

  <script>
    function Log(message) {
      console.dir(message);
      var csrf_token = "${csrf_token}";
      var token = '${user_token.key}';
      var unity_log_url = '${unity_log_url}';
      var post_data = {'message': message};
      $.ajax({
        url: unity_log_url,
        type: "POST",
        beforeSend: function(xhr, settings) {
          xhr.setRequestHeader("X-CSRFToken", csrf_token);
          xhr.setRequestHeader("Authorization", "Token " + token);
        },
        data: post_data

      }).success(function(response) {
      }).error(function(response) {
      });
    }

    function gaLogEvent(category, action, label, value, noninteract) {}

    function OpenResult() {
      OpenLink(window.location.origin + "${result_url}");
    }

    function OpenLink(link) {
      var container = $('#externalContent');
      var iframe = $('<iframe/>');

      var exitContainer = function(ev) {
        ev.preventDefault();
        container.empty();
        container.hide();
      }

      iframe.prop('src', link);
      container.empty();
      container.append('<a href="" class="exit labster-blue-button">Back to Lab</a>');
      container.append(iframe);

      container.find('a.exit').bind('click', exitContainer);
      container.show();
    }
  </script>

% endif
