% if errors:
  <div>${errors}</div>
% else:

  <style>
    .container {
      max-width: 1360px;
    }
  </style>
  <script type="text/javascript">
  <!--
  var unityObjectUrl = "http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js";
  if (document.location.protocol == 'https:')
      unityObjectUrl = unityObjectUrl.replace("http://", "https://ssl-");
  document.write('<script type="text/javascript" src="' + unityObjectUrl + '"></script>');
  -->
  </script>

  <!--
  <h4>${lab.name}</h4>
  <div>${lab.description}</div>

  <hr>
  <div>token: ${user_token.key}</div>
  <div>lab_id: ${lab_proxy.id}</div>
  <hr>
  <div>user_id: ${module.scope_ids.user_id}</div>
  <div>${module.location}</div>
  <div>${lab.name}</div>
  -->

  <div id="buttonContent">
    <a class="button playLabButton" data-url="start_new_lab/" id="startNewButton" href="#">Start New</a>
    <a class="button playLabButton" data-url="continue_lab/" id="continueButton" href="#">Continue</a>
  </div>

  <div id="unityPlayer" style="display:none">
    <div class="missing">
      <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
        <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
      </a>
    </div>
  </div>

  <!-- Segment.IO Start -->
  <script type="text/javascript">
    window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(a){return function(){var t=Array.prototype.slice.call(arguments);return t.unshift(a),window.analytics.push(t),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(a){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+a+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},window.analytics.SNIPPET_VERSION="2.0.6",
    window.analytics.load("wdk8zwr84j"),
    window.analytics.page();
  </script>
  <script type="text/javascript">
    function segmentIOIdentify(id, propertiesString)
    {
      var properties = convertStringToObjectArray(propertiesString);
      analytics.identify(id, properties);
    }
    function segmentIOPushEvent(category)
    {
      analytics.track(category);
    }
    function segmentIOPushEventWithProperties(category, propertiesString)
    {
      var dictionary = convertStringToObjectArray(propertiesString);
      analytics.track(category, dictionary);
    }

    function convertStringToObjectArray(objectString)
    {
      var d = {};

      a = objectString.replace("{","").replace("}","").split(",");
      for (i=0;i<a.length;i++)
        {
          pair = a[i];
          prop = pair.split("=");
          d[prop[0]] = prop[1];
        }

      return d;
    }
  </script>
  <!-- Segment.IO End -->

  <script>
    var loaded = false;

    jQuery(function() {
      jQuery('.playLabButton').click(function(ev) {
        ev.preventDefault();
        var el = jQuery(ev.currentTarget);
        var url = el.data('url');
        jQuery('#buttonContent').empty().append("Loading &hellip;");
        jQuery.ajax({
          url: url,
          method: 'GET',
          success: function(response) {
          },
          error: function(response) {
          },
          complete: function(response) {
            jQuery('#buttonContent').hide();
            jQuery('#unityPlayer').show();
            playLab();
          }
        });
      });
    });

    var u;
    var playLab = function() {
      if (! loaded) {
        loaded = true;
        var config = {
          width: 957,
          height: 650,
          params: {
            backgroundcolor: "000000",
            disableContextMenu: true
          }
        };
        u = new UnityObject2(config);
        u.initPlugin(jQuery("#unityPlayer")[0], "https://s3-us-west-2.amazonaws.com/labster/unity/${lab.engine_file}?token=${user_token.key}");
      }
    };

    var stopLab = function() {
    };
  </script>

  <script>
    var messages = []
    function Log(message) {
      console.log(message);
      messages.push(message);
    }

    function gaLogEvent(category, action, label, value, noninteract) {}
  </script>

% endif
