% if errors:
  <div>${errors}</div>
% else:

  <style>
    .container {
      max-width: 1360px;
    }
    #unityPlayerContainer {
      background-color: #000;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 2000;
    }
    #unityPlayerContainer .exit-lab {
      background-color: #fff;
      position: fixed;
      right: 16px;
      top: 16px;
      padding: 16px;
    }
    #unityPlayer {
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 957px;
      height: 650px;
    }
    #unityPlayer .missing {
      width: inherit;
      height: inherit;
      text-align: center;
      line-height: 650px;
    }
  </style>
  <script type="text/javascript">
  <!--
  var unityObjectUrl = "http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js";
  if (document.location.protocol == 'https:')
      unityObjectUrl = unityObjectUrl.replace("http://", "https://ssl-");
  document.write('<script type="text/javascript" src="' + unityObjectUrl + '"></script>');
  -->
  </script>

  <!--
  <h4>${lab.name}</h4>
  <div>${lab.description}</div>

  <hr>
  <div>token: ${user_token.key}</div>
  <div>lab_id: ${lab_proxy.id}</div>
  <hr>
  <div>user_id: ${module.scope_ids.user_id}</div>
  <div>${module.location}</div>
  <div>${lab.name}</div>
  -->

  <div class="loading">Loading &hellip;</div>
  <div id="labModuleContainer" style="display:none">
    <div class="lab-module-info">
      <h4>${lab.name}</h4>
      <p>You are now about to enter of the Labster virtual labs.</p>
      <p>It appears that you have already used this specific lab in the past, and we have automatically stored your progress in the lab, so you don't have to start all from the beginning.</p>
      <p>Please click the <strong>Continue from save game</strong> button below, if you would like to continue from the last position in the lab that was stored, or click <strong>Restart from beginning</strong> if you would like to play the whole lab from the start again.</p>
    </div>
    <div id="buttonContent">
      <a class="button playLabButton" data-url="start_new_lab/" id="startNewButton" href="#">Restart from beginning</a>
      <a class="button playLabButton" data-url="continue_lab/" id="continueButton" href="#">Continue from save game</a>
    </div>

    <div id="unityPlayerContainer" style="display:none">
      <a href="" class="exit-lab">Exit Lab</a>
      <div id="unityPlayer">
        <div class="missing">
          <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
            <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <script id="unityPlayerTemplate" type="text/template">
  </script>

  <!-- Segment.IO Start -->
  <script type="text/javascript">
    window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(a){return function(){var t=Array.prototype.slice.call(arguments);return t.unshift(a),window.analytics.push(t),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(a){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+a+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},window.analytics.SNIPPET_VERSION="2.0.6",
    window.analytics.load("wdk8zwr84j"),
    window.analytics.page();
  </script>
  <script type="text/javascript">
    function segmentIOIdentify(id, propertiesString)
    {
      var properties = convertStringToObjectArray(propertiesString);
      analytics.identify(id, properties);
    }
    function segmentIOPushEvent(category)
    {
      analytics.track(category);
    }
    function segmentIOPushEventWithProperties(category, propertiesString)
    {
      var dictionary = convertStringToObjectArray(propertiesString);
      analytics.track(category, dictionary);
    }

    function convertStringToObjectArray(objectString)
    {
      var d = {};

      a = objectString.replace("{","").replace("}","").split(",");
      for (i=0;i<a.length;i++)
        {
          pair = a[i];
          prop = pair.split("=");
          d[prop[0]] = prop[1];
        }

      return d;
    }
  </script>
  <!-- Segment.IO End -->

  <script>
    var loaded = false;

    jQuery(function() {
      jQuery('.playLabButton').click(function(ev) {
        ev.preventDefault();
        var el = jQuery(ev.currentTarget);
        var url = el.data('url');

        jQuery('#unityPlayerContainer').show();
        jQuery.ajax({
          url: url,
          method: 'GET',
          success: function(response) {
          },
          error: function(response) {
          },
          complete: function(response) {
            $('.loading').hide();
            $('#labModuleContainer').show();
            playLab();
          }
        });
      });

      jQuery('#unityPlayerContainer .exit-lab').click(function(ev) {
        ev.preventDefault();
        var sure = confirm("Are you sure you want to close the lab?");
        if (sure) {
          jQuery('#unityPlayerContainer').hide();
          stopLab();
        }
      });

      % if user_save:
      $('#labModuleContainer').show();
      $('.loading').hide();
      % else:
      jQuery('.playLabButton').click();
      % endif
    });

    var u;
    var playLab = function() {
      if (! loaded) {
        var config = {
          width: 957,
          height: 650,
          params: {
            backgroundcolor: "000000",
            disableContextMenu: true
          }
        };
        u = new UnityObject2(config);
        u.initPlugin(jQuery("#unityPlayer")[0], "https://s3-us-west-2.amazonaws.com/labster/unity/${lab.engine_file}?token=${user_token.key}");
        loaded = true;
      }

      jQuery('#livechat-compact-container').hide();
    };

    var stopLab = function() {
      jQuery('#unityPlayer').empty();
      jQuery('#livechat-compact-container').show();
      loaded = false;
    };
  </script>

  <script>
    var messages = []
    function Log(message) {
      console.log(message);
      messages.push(message);
    }

    function gaLogEvent(category, action, label, value, noninteract) {}
  </script>

% endif
