<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%! from microsite_configuration import microsite %>

<%
homepage_overlay_html = microsite.get_value('homepage_overlay_html')

show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', True)
homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "oairUMkieak")

show_partners = microsite.get_value('show_partners', True)

%>

<%block name="pagetitle">${_("Labster")}</%block>

<%block name="headextra">
<link rel="stylesheet" href="${static.url('labster/css/landing.css')}">
</%block>

<!-- start header -->

<section class="home">
  <header class="landing-home">
    <div class="container">
      <div class="hero">
        <div class="wrap-hero">
          <h2>Award Winning <strong>Virtual Laboratories</strong> for <strong>High Schools</strong> and <strong>Colleges</strong></h2>
          <div class="form-labs">
            <form action="/courses" method="get">
              <input type="text" placeholder="Search for a lab or topic" class="txt-labs" name="q" value="">
              <input type="submit" class="sbt-labs" value="">
            </form>
          </div> <!-- end form-labs -->
          <a href="/courses" class="view-all">View All Labs</a>
        </div> <!-- end wrap-hero -->
      </div> <!-- end hero -->
    </div> <!-- end container -->

    <div class="outer-wrapper">
      <div class="title">
        <hgroup>
          <h1>Empowering the Next Generation of Scientist</h1>
          <h2>Virtual labs and courses for anyone, anywhere, anytime</h2>
        </hgroup>
      </div> <!-- end title -->

      <a href="#video-modal" class="media" rel="leanModal">
        <div class="hero">
        </div> <!-- end hero -->
      </a>
    </div> <!-- outer-wrapper -->
  </header> <!-- end landing-home -->

  <section class="container">

    <section class="clients">
      <ul>
        <li><img src="${static.url('images/landing/mit.jpg')}" alt="client"></li>
        <li><img src="${static.url('images/landing/trinity.jpg')}" alt="client"></li>
        <li><img src="${static.url('images/landing/cust-3.jpg')}" alt="client"></li>
        <li><img src="${static.url('images/landing/cust-4.jpg')}" alt="client"></li>
        <li><img src="${static.url('images/landing/cust-5.jpg')}" alt="client"></li>
        <li><img src="${static.url('images/landing/cust-6.jpg')}" alt="client"></li>
        <li><img src="${static.url('images/landing/une.jpg')}" alt="client"></li>
        <li><img src="${static.url('images/landing/stanford.jpg')}" alt="client"></li>
      </ul>
    </section>
    <!-- end section customers/clients  -->

    <section class="highlighted-courses">

      <header class="heading-title">
        <h3>Our Most Popular Labs</h3>
      </header>

      <section class="courses">
        <ul class="courses-listing">
          <!-- list labs -->
          %for course in popular_labs:
            <li class="courses-listing-item">
              <%include file="course.html" args="course=course" />
            </li>
          %endfor
          <!-- end list labs -->
        </ul>
      </section>
    </section>
    <!-- end section highlighted-courses -->

    <section class="why-labster">
      <header class="heading-title">
        <h3>Why Use Labster?</h3>
      </header>
      <section class="why-left">
        <h4>Real-World Scenarios</h4>
        <p>Integrate real-world scenarios with 3D animations visualizing life science down to the molecular level.</p>

        <h4>Increased Student Engagement and Learnings</h4>
        <p>Integrate curriculum theory and relevant quiz questions with hands-on virtual practices and animations that increase student engagement and learnings. </p>

        <h4>Learn Through Trial & Error</h4>
        <p>Track your students online progress and use data to pin-point focus areas. Students learn through trial & error repeating experiments when necessary.</p>
      </section>
      <section class="why-right">
        <img src="${static.url('images/landing/labster-room.jpg')}" alt="Labster">
      </section>
    </section>
    <!-- end section why labster -->

    <section class="highlighted-courses">
      <header class="heading-title">
        <h3>Browse All Labs</h3>
      </header>
      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <section class="courses">
          <ul class="courses-listing">
            %for course in courses:
            <li class="courses-listing-item">
              <%include file="course.html" args="course=course" />
            </li>
            %endfor
          </ul>
        </section>
        % endif

      </section>
    </section>
  </section>


  <%block name="js_extra">
  <script type="text/javascript">
    $(window).load(function() {
     if(getParameterByName('next')) {
      $('#login').trigger("click");
    }
  })
  </script>
  </%block>

  % if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
  <script type="text/javascript">
    $(window).load(function() {$('#signup_action').trigger("click");});
  </script>
  % endif
