<%! from django.utils.translation import ugettext as _ %>
<%! from django.utils import timezone %>
<%! from student.models import UserProfile %>

<%namespace name='static' file='/static_content.html'/>
<section id="register-modal" class="modal register-modal">
  <div class="inner-wrapper register-wizard-0" role="alertdialog" aria-labelledy="register-modal-title">
    <header>
      <h2>
        ${_("Sign up to take this course")}
      </h2>
      <hr/>
    </header>
    <form id="" action="#" method="post" class="labster-register-form">
      <label>
        <span class="label">Sign up with your email</span>
        <input type="email" name="email" class="required" placeholder="Email Address">
        <span class="error-message"></span>
      </label>
      <div class="submit">
        <button type="submit" class="labster-register button-labster-blue" data-original-html="Sign Up">${_('Sign up')}</button>
      </div>
      <div class="tos-container">
        By signin up, you agree to our <a href="/tos" target="_blank">Terms of Service</a>
      </div>
    </form>
  </div>
  <div class="inner-wrapper register-wizard-1" role="alertdialog" aria-labelledy="register-modal-title">
    <header>
      <h2>
        ${_("Almost there")}
      </h2>
      <hr/>
    </header>
    <form id="" action="#" method="post" class="labster-register-form">
      <label>
        <span class="label">Name</span>
        <input type="text" placeholder="Name" name="name" class="required">
        <span class="error-message"></span>
      </label>
      <label>
        <span class="label">Password</span>
        <input type="password" name="password" class="required">
        <span class="error-message"></span>
      </label>
      <div class="submit">
        <button type="submit" class="labster-register button-labster-blue" data-original-html="Sign Up">${_('Sign up')}</button>
      </div>
      <div class="tos-container">
        By signin up, you agree to our <a href="/tos" target="_blank">Terms of Service</a>
      </div>
    </form>
  </div>
  <div class="inner-wrapper register-wizard-2-t teacher" role="alertdialog" aria-labelledy="register-modal-title">
    <header>
      <h2>
        ${_("Last Questions")}
      </h2>
      <hr/>
    </header>
    <form id="" action="#" method="post" class="labster-register-form">
      <label>
        <div class="select-container">
          <select name="user_school_level" class="required">
            <option value="">Occupation</option>
            <option value="1">High School</option>
            <option value="2">University/College</option>
          </select>
        </div>
        <span class="error-message"></span>
      </label>
      <label>
        <input type="text" placeholder="School/Company Name" name="organization_name" class="required">
        <span class="error-message"></span>
      </label>
      <label>
        <input type="text" placeholder="Phone Number" name="phone_number" class="required">
        <span class="error-message"></span>
      </label>
      <div class="submit">
        <button type="submit" class="labster-register button-labster-blue" data-original-html="Complete Regisration">Complete Registration</button>
      </div>
    </form>
  </div>
  <div class="inner-wrapper register-wizard-2-s student" role="alertdialog" aria-labelledy="register-modal-title">
    <header>
      <h2>
        ${_("Last Questions")}
      </h2>
      <hr/>
    </header>
    <form id="" action="#" method="post" class="labster-register-form">
      <label>
        <div class="select-container">
          <select name="level_of_education">
            <option value="">Higest Level of Education</option>
            % for key, value in UserProfile.LEVEL_OF_EDUCATION_CHOICES:
            <option value="${key}">${value}</option>
            % endfor
          </select>
        </div>
      </label>
      <label>
        <div class="select-container">
          <select name="gender">
            <option value="">Gender</option>
            <option value="m">Male</option>
            <option value="f">Female</option>
            <option value="o">Other</option>
          </select>
        </div>
      </label>
      <label>
        <div class="select-container">
          <select name="year_of_birth">
            <option value="">Year of Birth</option>
            % for year in range(timezone.now().year - 10, timezone.now().year - 110, -1):
            <option value="${year}">${year}</option>
            % endfor
          </select>
        </div>
      </label>
      <div class="submit">
        <button type="submit" class="labster-register button-labster-blue" data-original-html="Complete Regisration">Complete Registration</button>
      </div>
      <div class="button-link-container">Or <a href="" class="button-link-submit">Skip questions</a></div>
    </form>
  </div>

  <div class="inner-wrapper register-wizard-3 teacher" role="alertdialog" aria-labelledy="register-modal-title">
    <header>
      <h2>
        ${_("Registration Complete")}
      </h2>
      <hr/>
    </header>
    <form id="" action="/labster/login-by-token/" method="post">
      <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
      <input type="hidden" name="user_id">
      <input type="hidden" name="course_id">
      <input type="hidden" name="token_key">
      <input type="hidden" name="next">
      <div class="submit">
        <button type="submit" class="labster-register button-labster-blue">Continue</button>
      </div>
    </form>
  </div>
</section>

<script src="${static.url('js/labster/register_modal.js')}"></script>
<script>
window.csrfToken = "${csrf_token}";
registerModalInit({
    nextUrl: "/",
    courseId: "${course.id}"
});
</script>
