<div ng-show="payment == null">
  <p>This is not the voucher code you're looking for.</p>
  <p>Move along.</p>
</div>
<div ng-show="payment != null">
  <div class="labster-lab-list">
    <p>Date: {{ payment.created_date }}</p>
    <table>
      <thead>
        <tr>
          <th>Lab</th>
          <th class="align-right">Price</th>
          <th class="align-right">Licenses</th>
          <th class="align-right">Subscriptions</th>
          <th class="align-right">Total Price</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="payment_product in payment.payment_products">
          <td class="lab-description">{{ payment_product.product_name }}</td>
          <td class="align-right">{{ payment_product.price|currency:"USD " }}</td>
          <td class="align-right">{{ payment_product.item_count }}</td>
          <td class="align-right">{{ payment_product.month_subscription }} months</td>
          <td class="align-right">{{ payment_product.total|currency:"USD " }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Subtotal</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="align-right">{{ payment.total_before_tax|currency:"USD " }}</td>
        </tr>
        <tr>
          <td>VAT</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="align-right">
            {{ payment.total_tax|currency:"USD " }} <br/>
            <i ng-show="payment.is_reverse_charges">Reverse charges is applied on this payment</i>
          </td>
        </tr>
        <tr>
          <td>Total</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="align-right">{{ payment.total|currency:"USD " }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
