<header>
  <h2>PAYMENT COMPLETED</h2>
</header>
<p>
  Thank you very much for your purchase.<br/>
  We are thrilled to have you on board and wish you the very best in your learning and/or teaching experience with Labster.
</p>
<p>
  Your licenses have now been fully activated, and we have enrolled you on the courses. Please now click "Back to Dashboard" to select the courses you would like to start using.
</p>
<p>
  You will also receive a confirmation email shortly, and should you have any further questions, please feel free to contact our customer support any time.
</p>
<div class="padding-top40">
  <a class="btn-labster-paid" href="/">Back to Dashboard</a>
</div>
