<div ng-show="voucher == null">
  <p>This is not the voucher code you're looking for.</p>
  <p>Move along.</p>
</div>
<div ng-show="voucher != null">
  <div class="labster-lab-list">
    <p>Date: {{ payment.created_date }}</p>
    <table>
      <thead>
      <tr>
        <th>Lab</th>
        <th class="align-right">Total Price</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="payment_product in voucher.products">
        <td class="lab-description">{{ payment_product.name }}</td>
        <td class="align-right">{{ payment_product.total|currency:"USD " }}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td>Subtotal</td>
        <td class="align-right">{{ voucher.price|currency:"USD " }}</td>
      </tr>
      <tr>
        <td>VAT</td>
        <td class="align-right">0<br/></td>
      </tr>
      <tr>
        <td>Total</td>
        <td class="align-right">{{ voucher.price|currency:"USD " }}</td>
      </tr>
      </tfoot>
    </table>
    <p>
      By checking the "Terms and Conditions" box, you agree that you have read, understand, and accept the terms and conditions described in this <a href="/tos">page</a>.
    </p>
    <p><input type="checkbox" ng-model="agree_tos" ng-change="updateBtnPayment()" /> I have read and agree to the Terms & Conditions.</div></p>
    <div class="pull-right">
      <a ng-class="btnPayment" ng-click="goToPayment()">Continue to Payment</a>
    </div>
  </div>
</div>
