.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.align-left {
    text-align: left !important;
}
.align-right {
    text-align: right !important;
}
.align-center {
    text-align: center !important;
}
.table-no-border, .table-no-border td, .table-invoice, .table-invoice td {
    border: 0 !important;
}
.table-invoice td {
    padding: 8px !important;
}
.table-invoice tr td:first-child {
    width: 20%;
    font-weight: bold;
}

.labster-bo {}
.labster-bo table {
    border: 1px solid #ccc;
    width: 100%;
}

.labster-select-lab h3 {
    margin-bottom: 5px;
}
.labster-select-lab .lab-item {
    border: 1px solid #ccc;
    display: inline-block;
    margin-right: 5px;
    padding: 3px 7px;
}
.labster-select-lab a.lab-item:hover {
    text-decoration: none;
    color: #fff;
    background-color: #1d9dd9;
    border-color: #1d9dd9;
}

.labster-lab-list {}
.labster-lab-list table {
    margin: 20px 0;
}
.labster-lab-list table thead th,
.labster-lab-list table tbody td {
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.labster-lab-list table thead th,
.labster-lab-list table tbody td,
.labster-lab-list table tfoot td {
    padding: 10px;
    vertical-align: middle;
}
.labster-lab-list table thead th {
    background-color: #efefef;
}
.labster-lab-list table tfoot td {
    background-color: #efefef;
    font-weight: bold;
}
.labster-lab-list td.lab-license input {
    width: 100%;
}
.labster-lab-list label .label {
    display: inline-block;
    width: 100px;
}

.labster-lab-list img {
    width: 150px;
}

.labster-lab-list .lab-name {
    vertical-align: middle;
}

.labster-box {
    border: 1px solid #b9b9b9;
    width: 29%;
    border-radius: 6px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
}

.labster-box header {
    padding: 10px;
}

.labster-box .labster-box-content {
    height: 220px;
    position: relative;
}

.labster-box-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.5;
    height: 100%;
}

.labster-box-content li {
    display: block;
    padding: 10px 0;
    font-size: 14px;
    color: #555;
}

.labster-box-content .header {
    height: 30px;
}

.labster-box-content .footer {
    bottom: 0;
    margin-bottom: 10px;
    position: absolute;
    width: 100%
}

.labster-box header {
    height: 100px;
    border-bottom: 1px solid #b9b9b9;
    display: table-cell;
    vertical-align: middle;
    width: inherit;
    background: #F4F4F4;
}

.btn-labster {
    bottom: 0;
    margin-bottom: 10px;
    position: absolute;
    width: 100%

}

.btn-labster button {
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
    width: 230px;
}