.vertical-align-baseline {
    vertical-align: baseline !important;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.align-left {
    text-align: left !important;
}
.align-right {
    text-align: right !important;
}
.align-center {
    text-align: center !important;
}
.no-text-transform {
    text-transform: none;
}
.table-cell {
    display: table-cell;
}
.padding-top40{
    padding-top: 40px;
}
.table-no-border, .table-no-border td, .table-invoice, .table-invoice td {
    border: 0 !important;
}
.table-invoice td {
    padding: 8px !important;
}
.table-invoice tr td:first-child {
    width: 20%;
    font-weight: bold;
}

.labster-bo {}
.labster-bo table {
    border: 1px solid #ccc;
    width: 100%;
}

.labster-select-lab h3 {
    margin-bottom: 5px;
}
.labster-select-lab .lab-item {
    border: 1px solid #ccc;
    display: inline-block;
    margin-right: 5px;
    padding: 3px 7px;
}
.labster-select-lab a.lab-item:hover {
    text-decoration: none;
    color: #fff;
    background-color: #1d9dd9;
    border-color: #1d9dd9;
}

.labster-lab-list {}
.labster-lab-list table {
    margin: 20px 0;
}
.labster-lab-list table thead th,
.labster-lab-list table tbody td {
    border-bottom: 1px solid #ccc;
    text-align: left;
}
.labster-lab-list table thead th,
.labster-lab-list table tbody td,
.labster-lab-list table tfoot td {
    padding: 10px;
    vertical-align: middle;
}
.labster-lab-list table thead th {
    background-color: #efefef;
}
.labster-lab-list table tfoot td {
    background-color: #efefef;
    font-weight: bold;
}
.labster-lab-list td.lab-license input {
    width: 100%;
    text-align: center;
}
.labster-lab-list td.lab-description {
    line-height: 25px;
}
.labster-lab-list td.lab-total {
    min-width: 100px;
}
.labster-lab-list tr.edu-level,
.labster-lab-list tr.edu-level-invoice{
    height: 60px;
}
.labster-lab-list .edu-level td {
    font-size: 1.6em;
}
.labster-lab-list .edu-level-invoice td {
    font-size: 1.3em;
}
.labster-lab-list label .label {
    display: inline-block;
    width: 100px;
}
.labster-lab-list img {
    width: 150px;
}
.labster-lab-list .lab-name {
    vertical-align: middle;
}
.labster-row {
    width: 100%;
}
.labster-container {
    margin: 0 auto;
    text-align: center;
}
.labster-box {
    border: 1px solid #b9b9b9;
    width: 270px;
    border-radius: 6px;
    /*float: left;*/
    /*margin-right: 20px;*/
    /*margin-top: 20px;*/
    display: inline-block;
    margin: 10px;
    /*text-align: center;*/
}
.labster-box .labster-box-content {
    height: 245px;
    position: relative;
}
.labster-box-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.5;
    height: 100%;
}
.labster-box-content li {
    display: block;
    padding: 10px;
    font-size: 14px;
    color: #555;
}
.labster-box-content .header {
    height: 30px;
}
.labster-box-content .footer {
    bottom: 0;
    margin-bottom: 10px;
    position: absolute;
    width: 100%
}
.labster-box-content .lab-price {
    font-size: large;
}
.labster-box header {
    height: 50px;
    border-bottom: 1px solid #b9b9b9;
    display: table-cell;
    vertical-align: middle;
    width: inherit;
    background: #F4F4F4;
    padding: 10px;
}

.text-decor-none a:hover {
    text-decoration: none;
}

.labster-disabled-btn {
    opacity: 0.5;
}

a.btn-labster,
a.btn-labster-invoice,
a.btn-labster-checkout,
a.btn-labster-paid{
    cursor: pointer;
    border: 1px solid #08111b;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #395b7d;
    color: #fff;
    font-size: inherit;
    font-weight: bold;
    background-color: #1d354d;
    background-image: -webkit-linear-gradient(#1d354d,#0b1926);
    background-image: linear-gradient(#1d354d,#0b1926);
    text-decoration: none;
    text-shadow: 0 1px 0 #03070b;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    font: normal 15px/1.6rem "Lato","Source Sans";
    letter-spacing: 0;
    text-align: center;
    padding: 7px 18px;
}
a.btn-labster:hover,
a.btn-labster-invoice:hover,
a.btn-labster-checkout:hover,
a.btn-labster-paid:hover{
    text-decoration: none;
}
a.btn-labster {
    position: absolute;
    bottom: 14px;
    width: 210px;
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
a.btn-labster-invoice {
    width: 150px;
    display: block;
}
a.btn-labster-checkout {
    font-size: 20px;
    display: block;
}
.form-group {
    margin-bottom: 15px;
}
.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}