.learning-container .learning-description {
  margin-left: 28px;
  margin-top: 10px;
}
.learning {
  margin-left: 10px;
  list-style: disc;
}
.learning li {
  border: 0 !important;
  margin-bottom: 0 !important;
}
.link_tags {
  list-style: none;
  cursor:pointer;
}
.clear {
  clear: both;
}
.hide_tags {
  display: none;
}
.course-info .course-sidebar .important-dates li .icon.learning{
  background-image: url("../../images/portal-icons/learning-icon.png");
}
.course-info .course-sidebar > section.course-summary {
  padding-bottom: 0;
}
.course-info .course-sidebar .important-dates li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta>a.find-courses, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.try-course, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart {
   border: 1px solid #30772E;
   border-bottom: 1px solid #30772E;
   background-color: #54b551;
   background-image: -webkit-linear-gradient(top, #54b551 0%,#429b40 100%);
   background-image: linear-gradient(to bottom,#54b551 0%,#429b40 100%);
   text-shadow: 0 -1px 1px #184C16;
}
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta>a.find-courses:hover:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.try-course:hover:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart:hover:not(:disabled) {
   cursor: pointer;
   background-color: #429b40;
   background-image: -webkit-linear-gradient(top, #439141 0%,#2F742C 100%);
   background-image: linear-gradient(to bottom,#439141 0%,#2F742C 100%);
}
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta>a.find-courses:active:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta>a.find-courses:focus:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:active:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:focus:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.try-course:active:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.try-course:focus:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart:active:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart:focus:not(:disabled) {
    box-shadow: inset 0 0 5px 0 #000;

}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register-teacher {
    background-color: #54b551;
    background-image: -webkit-linear-gradient(top, #54b551 0%,#429b40 100%);
    background-image: linear-gradient(to bottom,#54b551 0%,#429b40 100%);
    border-bottom: 1px solid #30772E;
    border: 1px solid #30772E;
    text-shadow: 0 -1px 1px #184C16;
}

button.labster-register {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 !important;
}
.course-info .course-sidebar .important-dates li .icon {
  width: 16px;
}

.course-info header.course-profile {
    background-image: url('https://s3.amazonaws.com/labsterim/media/uploads/edx/bg_header.jpg');
    background-position: 0px -150px;
    background-size: 114%;
    padding-top: 140px;
    border-bottom: 0;
}
.course-info header.course-profile .container {
    padding: 0 35px;
}

.course-info header.course-profile .intro-inner-wrapper {
    background-color: #fff;
    padding: 45px;
}

.course-info header.course-profile .intro-inner-wrapper .intro {
    width: 60%;
    padding-top: 0;
    padding-left: 0;
}

.course-info header.course-profile .intro-inner-wrapper .media {
    padding: 0;
}

.course-info header.course-profile .intro-inner-wrapper .media .hero {
    border: 1px solid #ccc;
}

.course-info header.course-profile .intro-inner-wrapper .media .hero .play-intro {
    background-image: -webkit-linear-gradient(-90deg,rgba(195,0,0,0.65),rgba(195, 0, 0, 0.80));
    background-image: linear-gradient(-90deg,rgba(195,0,0,0.65),rgba(195, 0, 0, 0.80));
    width: 90px;
}

.labster-register-box-container {
    display: -webkit-flex;
    display: flex;
}

.labster-register-box {
    margin-right: 20px;
    width: 270px;
    font-size: 0.9em;
}
.labster-register-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.labster-register-box h4 {
    text-transform: uppercase;
}
.labster-register-box h4 a {
    display: block;
    color: #fff;
    padding: 15px 0 15px 60px;
    border: 0;
}

.labster-register-box.students h4 a {
    background-color: #54b551;
    background-image: -webkit-linear-gradient(top, #54b551 0%,#429b40 100%);
    background-image: linear-gradient(to bottom,#54b551 0%,#429b40 100%);
}

.labster-register-box.teachers h4 a {
    background-color: #1d354d;
    background-image: -webkit-linear-gradient(top, #1d354d 0%,#00032c 50%,#00001d 50%,#00001f 100%);
    background-image: linear-gradient(to bottom,#1d354d 0%,#00032c 50%,#00001d 50%,#00001f 100%);
}

.labster-register-box li {
    margin: 0;
    padding: 0;
}

.labster-register-box li a {
    color: #666;
    display: block;
    padding: 12px 12px 12px 25px;
}
.labster-register-box li a i {
    margin-right: 15px;
    opacity: 0.4;
}
.labster-register-box li a:hover { color: #333; }
.labster-register-box li a:hover i { opacity: 1; }

.labster-register-box.students li a {
    background-color: #EBF5EB;
    border: 1px solid #B8D5B8;
    border-top: 0;
}

.labster-register-box.teachers li a {
    background-color: #F1F1F3;
    border: 1px solid #bbb;
    border-top: 0;
}

.course-info .course-sidebar>section {
    border: 0;
    box-shadow: none;
}

.course-info .course-sidebar > section.course-summary {
    background-color: #F9F9F9;
    border: 1px solid #ccc;
    margin-top: 35px;
}

.course-info .course-sidebar header::after {
    display: none;
}

.course-info .course-sidebar header {
    margin-bottom: 10px;
}

.course-info .course-sidebar .important-dates li .important-dates-item-title {
    font-weight: bold;
}

.modal.video-modal, .video-modal.leanModal_box {
    width: 900px;
}

.modal.video-modal .inner-wrapper, .video-modal.leanModal_box .inner-wrapper {
  width: 882px;
  height: 500px;
}

#course_video_bottom iframe {
  width: 741px;
  height: 416px;
}