.learning {
  list-style: circle;
}
.learning li {
  border: 0 !important;
  margin-bottom: 0 !important;
}
.clear {
  clear: both;
}
.course-info .course-sidebar .important-dates li .icon.learning{
  background-image: url("../../images/portal-icons/learning-icon.png");
}
.hide_tags {
  display: none;
}
